.container {
  background: var(--black);
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    max-width: 95%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .menu {
      display: none;

      @media only screen and (max-width: 1023px) {
        display: flex;
        width: 50px;

        img {
          width: 100%;
        }
      }
    }

    .logo {
      height: 100px;
    }

    .cart {
      justify-content: flex-end;
      color: var(--white);
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
        font-family: 'Source Sans Pro', helvetica, sans-serif;
      }

      .cartIcon {
        width: 25px;
        height: auto !important;
        margin-right: 7px;
      }
    }
  }
}
