:root {
  --black: #000;
  --white: #fff;

  --yellow-200: #e7d259;
  --yellow-300: #c0af52;
  --yellow-400: #8f833d;
  --yellow-700: #5c5436;

  --grey-500: #616161;
}

* {
  margin: 0;
}

.scroolbar {
  &::-webkit-scrollbar {
    background-color: var(--yellow-300) !important;
    width: 4px !important;
  }

  &::-webkit-scrollbar-button {
    display: none !important;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--yellow-300) !important;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--yellow-300) !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey-500) !important;
    border-radius: 12px !important;
  }
}
.App {
  position: relative;
}
.container {
  display: flex;
  overflow: hidden;
  background-color: var(--yellow-300);

  .sidebar {
    width: 280px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;

    @extend .scroolbar;
  }

  .content {
    width: calc(100vw - 300px);
    padding: 15px;
  }
}
