.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    max-width: 95%;
    width: 90%;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    padding: 10px;

    a {
      text-decoration: none;
    }

    .menu {
      width: 270px;
      height: 100px;
      margin: 10px 20px;
      background-color: var(--yellow-300);
      border: 1px solid var(--yellow-700);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-weight: 600;
        font-size: 0.75rem;
        color: var(--black);
        letter-spacing: 0.3rem;
        font-family: 'Source Sans Pro', helvetica, sans-serif;
        text-transform: uppercase;
      }

      .logo {
        width: 100%;
        max-height: 100%;
      }

      .cart {
        justify-content: flex-end;
        color: var(--white);
      }
    }
  }
}
